body{
	background-color:black;
}
#sdate{
	color:	lightgreen;
	position:absolute;
	top:34%;
	left:49%;
	font-weight:bold;
	transform:translate(-50%,50%);
	font-size:60px;
	padding:35px 60px;
	border:10px solid orange;
	box-shadow:5px 5px 8px 8px red(241,20,20,0.3),5px 7px 21px 8px red(241,20,20,0.3)
}